#detail--view{
    position: fixed;
    top: 999px;
    height: 100%;
    overflow-y: scroll;
    
    &.active{
        top: 0    
    }
}

#list--view{
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    width: 98%;
}

#mainNav{
    margin-top: -256px;
    position: relative;
    
    &.in{
        margin-top: 0;    
    }
}