@media #{$tabletV-smaller}{
    #facets{
        position: fixed;
        overflow-y: scroll;
        height: 100%;
        background: $light;
        width: 98%;
        padding: 8px;
        z-index: 9999;
        left: 1%;
        top: 999px;
        @include transitionAll();
        
        &.active{
            top: 10px; 
            @include box-shadow( 0 6px 12px rgba(0,0,0,0.275), 0 0 0 9999px rgba(0,0,0,0.4) );    
        }
        .form-group{
            border-bottom: none !important;
            
            .plp--facetHeading{
                background: $gray0; 
                border: 1px solid $gray2;
                border-bottom-width: 3px;
                padding: 1px 10px;
                margin-bottom: 8px;
            }
            
            label{
                zoom: 1.2;
            }
        }
    }
}